.box {
  height: 200px;
  width: 100%;
  margin-bottom: 10px;
}

.btn {
  background: crimson;
  cursor: pointer;
  color: white;
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 10px;
  margin-bottom: 30px;
  font-weight: 600;
}

.box1 {
  background: rebeccapurple;
}

.box2 {
  background: greenyellow;
}

.box3 {
  background: darkgoldenrod;
}

.box4 {
  background: tomato;
}

.extra {
  border: 10px ridge red;
  width: 98%;
  margin: auto;
  margin-bottom: 10px;
  background: violet;
}

.upAndDown {
  background: darkolivegreen;
}
